@use '../partials/variables.scss' as *;


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: $colors30;
}

#footer {
    margin-top: 7rem;
}
