@use '../partials/variables.scss' as *;


// Aligns Card for some reason

.card-nav {
    margin-bottom: 2rem;
    .skills-link {
        .card {
            img {
                min-width: 10rem;
                min-height: 12rem;
            }
            background: $bg;
            box-shadow: 1px 1px 15px 1px $extra-hue;
            border: 0;
            a {
                color: $card-text;
                text-decoration: none;
                h5{
                    color: $colors30;
                }
            }
            
            border: 0;
            .card-body{
                padding-top: 4rem;
                height: 8rem;
                background: $colors60;
            }
            }
            }
}
.card-nav {
    margin-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    .personal-link {
        .card {
            background: $bg;
            box-shadow: 1px 1px 15px 1px $extra-hue;
            border: 0;
            .card-body{
                height: 6.2rem;
                padding-top: 2.5rem;
                background: $colors60;
                h5 {
                    color: $colors30;
                    a {
                        color: $card-text;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.card-nav {
    margin-bottom: 2rem;
    .projects-link {
        .card {
            background: $bg;
            box-shadow: 1px 1px 15px 1px $extra-hue;
            border: 0;
            .card-body{
                height: 4rem;
                background: $colors60;
                h5 {
                    color: $colors30;
                    a {
                        color: $card-text;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.card-nav {
    margin-bottom: 2rem;
    .arts-link {
        .card {
            background: $bg;
            box-shadow: 1px 1px 15px 1px $extra-hue;
            border: 0;
            .card-body{
                background: $colors60;
                h5 {
                    color: $colors30;
                    a {
                        color: $card-text;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}