@use '../partials/variables.scss' as *;
// Skills Page Body

* {
    box-sizing: border-box;
}
.skills-body {
    border: $colors30;
    background: hsla(251, 19%, 18%, 1);
    background: linear-gradient(90deg, hsla(251, 19%, 18%, 1) 68%, hsla(249, 22%, 23%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(251, 19%, 18%, 1) 68%, hsla(249, 22%, 23%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(251, 19%, 18%, 1) 68%, hsla(249, 22%, 23%, 1) 100%);
    padding-top: 2rem;
    height: 115%;
}

.html-logo {
    margin-bottom: 2rem;
    color: $colors30;
    border: 0;
    background: $colors10;
    animation-name:swing-in-top-fwd;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: $colors60;
}

.html-card{
    transition: all 2s ease-in-out;
    &:hover {
        animation-name: jello-horizontal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    }
    height: 26rem;
    background: rgba( 255, 64, 87, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.css-logo {
    margin-bottom: 2rem;
    color: $colors30;
    border: 0;
    animation-name:scale-in-hor-right;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    .css-logo__img{
        background: $bg;
    }
}
.css-card{
    transition: all 2s ease-in-out;
    &:hover {
        animation-name: jello-horizontal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    }
    height: 17rem;
    background: rgba( 255, 64, 87, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.js-logo {
    margin-bottom: 2rem;
    color: $colors30;
    border: 0;
    background: $colors10;
    animation-name:scale-in-left;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: $colors60;
}
.js-card{
    transition: all 2s ease-in-out;
    &:hover {
        animation-name: jello-horizontal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    }
    height: 23rem;
    background: rgba( 255, 64, 87, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.sass-logo {
    margin-bottom: 2rem;
    color: $colors30;
    padding-top: 5rem;
    border: 0;
    background: $colors10;
    animation-name:scale-in-ver-bottom;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: $colors60;

}
.sass-card{
    transition: all 2s ease-in-out;
    &:hover {
        animation-name: jello-horizontal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    }
    height: 22rem;
    background: rgba( 255, 64, 87, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.items-tab {
    padding-left: 3rem;
    background: hsla(249, 22%, 19%, 1);
    background: linear-gradient(180deg, hsla(249, 22%, 19%, 1) 16%, hsla(248, 23%, 19%, 1) 82%);
    background: -moz-linear-gradient(180deg, hsla(249, 22%, 19%, 1) 16%, hsla(248, 23%, 19%, 1) 82%);
    background: -webkit-linear-gradient(180deg, hsla(249, 22%, 19%, 1) 16%, hsla(248, 23%, 19%, 1) 82%);
    color: lightgrey;
}

.box {
    margin-bottom: 5rem;
    padding-top: 2rem;
    text-align: center;
    border-radius: 50px;
    border: 2px ridge $colors60;
    margin-top: 1.5rem;
    background: hsla(249, 22%, 19%, 1);
    background: linear-gradient(180deg, hsla(249, 22%, 19%, 1) 10%, hsla(343, 45%, 34%, 1) 68%, hsla(353, 58%, 39%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(249, 22%, 19%, 1) 10%, hsla(343, 45%, 34%, 1) 68%, hsla(353, 58%, 39%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(249, 22%, 19%, 1) 10%, hsla(343, 45%, 34%, 1) 68%, hsla(353, 58%, 39%, 1) 100%);
    width: 9rem; height: 9rem;
    transition: all 1s ease-in-out;
    img {
        transition: all 1s ease-in-out;
    }
}

.box:hover {
    animation-name:flip-horizontal-fwd;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    img{
    animation-name:flip-horizontal-fwd;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    }
}
// Bottom Skills 
.box-img {
    width: 6rem;
}
